@import "tailwindcss";

@theme {
  --color-primary: #27a77e;
  --color-secondary: #1e293b;
  --color-background-light: #ffffff;
  --color-background-dark: #ffffff;
  --color-surface-light: #ffffff;
  --color-surface-dark: #ffffff;
  --color-text-main-light: #111827;
  --color-text-main-dark: #111827;
  --color-text-muted-light: #4b5563;
  --color-text-muted-dark: #4b5563;
  --color-border-light: #e5e7eb;
  --color-border-dark: #e5e7eb;

  --font-display: "Inter", sans-serif;
  --font-logo: "Quicksand", sans-serif;
}
